/build/
/bin/
/obj/
/android/.gradle/
/android/local.properties
/android/app/debug/
/android/app/profile/
/android/app/release/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/coverage/
*.iml
.idea/
.DS_Store
Thumbs.db
*.user
*.suo
*.apk
!/downloads/AdenalinCalculator-release.apk
*.aab
